/* Please put all the related responsive code next to each other */

.statistics-left
{
	text-align: right;
}

@media (max-width: 767px)
{
	.statistics-left
	{
		text-align: left;
	}
}

.alert
{
	display:none;
}